<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Picker</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Find Nearby Restaurants</h1>
        <div class="numOfOptions">
            <label for="optionCount">Number of Options:</label>
            <input type="number" id="optionCount" min="1" value="30">
        </div>
        <div class="wheel-container">
            <canvas id="wheel" width="500" height="500"></canvas>
        </div>
        
        <button id="allRestaurantsButton">All Restaurants</button>
        <button id="fastFoodButton">Fast Food</button>
        <button id="sitDownButton">Sit-Down Restaurants</button>
        <br>
        <button id="spinButton">Spin the Wheel</button>

        <div id="result"></div>
        <div id="celebration" class="celebration"></div>

    </div>
</body>
</html>